/* header */
.logo_and_search {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.logo_and_search img {
  max-width: 350px;
}
/* search */
.search {
  top: 0.1em;
}
.search input {
  width: 230px;
}
/* navbar */
.menu {
  padding-left: 20px;
}
/* menu_icon */
.bar {
 float: none;
 top: -7em;
 float: right;
 left: 0;
 padding-right: 30px;
}
/* next text */

.text h1 {
  padding-top: 50px;
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
}
.text p {
  padding: 0 20px;
  position: relative;
  top: 0.5em;
  text-align: left;
}
/* my_slider */
.my_slider {
  padding: 0 20px;
}
/* my_body */
.my_body {
  padding-left: 45px;
  padding-right: 45px;
}
.diseases {
  right: 0;
  padding: 0;
  border: 0;
}
.betegseg {
  background-color: #ddd8d6;
  padding: 20px;
  float: left;
  bottom: 60px;
  right: 10px;
}

.diseases_body {
  bottom: 0px;
  left: 7px;
  flex-direction: column;
  top: 2em;
}
.black_box {
  position: relative;
  top: 0.5em;
  position: relative;
  right: 10px;
}
.diseases_text {
  position: relative;
  right: 20px;
}
.my_top {
  position: relative;
  top: 3em;
}

.doctors_center {
  flex-direction: column;
  padding: 0;
  position: relative;
  top: 2em;
  float: left;
}

.doctors {
  left: 0px;
  padding: 0;
  top: 7em;
  border: 0;
}
.doctors a {
  background-color: #ddd8d6;
  padding: 20px;
  position: relative;
  float: left;
  top: 0.5em;

}
.card {
  position: relative;
  left: 0px;
  right: 0px;
  padding: 0;
}
.right_card {
  left: 0;
  padding-top: 30px;
}
/* footer */
.footer {
  position: relative;
  top: 18em;
  min-height: 1000px;
}
.rolunk p{
  padding: 0;
}
.rolunk h5 {
  padding: 0;
}
.bovebben_rolunk {
  left: 0;
}
.footer_H5 {
  padding-left: 0px;
}
.hasznos {
  position: relative;
  top: 4em;
}
.hirlevel {
  padding: 0;
  top: 9em;
}
.icons_2 {
  position: relative;
  top: 55em;
}
.icons_2 p {
  left: 20px;
  font-size: 12px;
}
